json Output file.json
[{"id":"a4ac8dce.4c6f48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3316c0c.8c82b8","type":"function","z":"a4ac8dce.4c6f48","name":"PreToken","func":"global.set(\"gn\",msg.payload.gn)\nglobal.set(\"rc\",msg.payload.rc)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ln\",msg.payload.ln)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nvar apikey=\"HLJ1XWRcH2Dsqp4iNMCxkR1jVYBEsVcUqkRPinbyXNXR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":780,"wires":[["6f0d42ff.863574"]]},{"id":"6f0d42ff.863574","type":"http request","z":"a4ac8dce.4c6f48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":939,"y":768.9999952316284,"wires":[["5320117a.e006a8"]]},{"id":"c3fb3046.e5b848","type":"debug","z":"a4ac8dce.4c6f48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1378.0000114440918,"y":510.99999713897705,"wires":[]},{"id":"5320117a.e006a8","type":"function","z":"a4ac8dce.4c6f48","name":"Pre Prediction","func":"var gn = global.get('gn')\nvar rc = global.get('rc')\nvar pe = global.get('pe')\nvar ln = global.get('ln')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar token=msg.payload.access_token\nvar instance_id=\"4fc2b586-e700-49f8-8ec0-c3e5218076d3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Gender\", \"Race/Ethnicity\", \"Parental level of education\",\"Lunch\",\"Math score\",\"Reading Score\",\"Writing score\"], \"values\": [[gn,rc,pe,ln,ms,rs,ws]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1136.0000076293945,"y":731.9999990463257,"wires":[["adad7753.31c14"]]},{"id":"adad7753.31c14","type":"http request","z":"a4ac8dce.4c6f48","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/c591d2fe-613a-451a-aa6e-8e38701340c9/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1229.5000076293945,"y":675.9999990463257,"wires":[["26e93ef8.b340ea"]]},{"id":"20a5f783.d2ccc","type":"ui_form","z":"a4ac8dce.4c6f48","name":"","label":"","group":"28c3d81b.7833f","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"gn","type":"text","required":true,"rows":null},{"label":"Race/Ethnicity","value":"rc","type":"text","required":true,"rows":null},{"label":"Parental level of education","value":"pe","type":"text","required":true,"rows":null},{"label":"Lunch","value":"ln","type":"text","required":true,"rows":null},{"label":"Math score","value":"ms","type":"number","required":true,"rows":null},{"label":"Reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"Writing score","value":"ws","type":"number","required":true,"rows":null}],"formValue":{"gn":"","rc":"","pe":"","ln":"","ms":"","rs":"","ws":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":531,"y":822.9999952316284,"wires":[["d3316c0c.8c82b8"]]},{"id":"8be27ad.b4bc488","type":"ui_text","z":"a4ac8dce.4c6f48","group":"28c3d81b.7833f","order":2,"width":0,"height":0,"name":"","label":"test preparation course","format":"{{msg.payload}}","layout":"row-spread","x":1307.6000366210938,"y":828.2000074386597,"wires":[]},{"id":"26e93ef8.b340ea","type":"function","z":"a4ac8dce.4c6f48","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1089.6000366210938,"y":571.600001335144,"wires":[["8be27ad.b4bc488","c3fb3046.e5b848"]]},{"id":"28c3d81b.7833f","type":"ui_group","z":"","name":"Grade Analysis","tab":"70203a8.4fe9fc4","order":1,"disp":true,"width":"6","collapse":false},{"id":"70203a8.4fe9fc4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]